@using ProyectoAccenture.Models
@model Generos


@{
    ViewBag.Title = "EditarGenero";
}


<main class="container">

    <form method="post">

        Nombre:
        <input type="text" name="Genero" value="@this.Model.Genero" class="form-control" required maxlength="20" placeholder="Ingrese un genero..." />
        @Html.HiddenFor(model => this.Model.id_genero)


        <button class="btn btn-primary form-control" style="margin-top:1em">
            Enviar
        </button>

    </form>




</main>


