@using ProyectoAccenture.Models



<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nuevo</title>
</head>
<body>
    <h1>Crear un Autor</h1>
    <form method="post" class="container">
        Nombre Del Autor:
        <input type="text" name="Nombre" value=""required maxlength="20" placeholder="Ingrese un nombre..."  class="form-control"/>

        Apellido del autor:
        <input type="text" name="Apellido" value="" required maxlength="20" placeholder="Ingrese un apellido..."class="form-control"/>

        Nacionalidad:
        <input type="text" name="Nacionalidad" value="" required maxlength="20" placeholder="Ingrese una nacionalidad..."class="form-control"/>

        <button class="btn btn-primary form-control">Enviar Datos</button>

    </form>

</body>

