@{
    ViewBag.Title = "Home Page";
}

<h2 class="text-center">Bienvenido al sistema de gestion libros.</h2>

<p class="text-center">Para continuar, seleccione uno de los menús ubicados en la parte superior.<br />
    En ellos encontrara las opciones de listado, listado, agregado, edición y busqueda.
    </p>
<div style="height: 35vh"></div>