

@{
    ViewBag.Title = "MenuLibros";
}

    <nav class="text-center">
        
        
        <ul class="list-inline container">

            

            <li><p><strong>Con esta opción se accede al menu de ingreso de un nuevo libro.</strong></p><a href="~/Libros/Nuevo"><span class="glyphicon glyphicon-plus" style="font-size:25em"></span></a></li>

            <li><p><strong>Con esta opción se accede al listado de libros.Con opciones para editar, eliminar.</strong></p><a href="~/Libros/Listar"><span class="glyphicon glyphicon-list" style="font-size:25em"></span></a></li>

          
        </ul>



    </nav>

