@using ProyectoAccenture.Models


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Nuevo</title>
</head>
<body>
    <h1>Crear una Editorial</h1>
    <form method="post" class="container">
        Nombre De la editorial:
        <input type="text" name="Nombre" value="" required maxlength="30" placeholder="Ingrese un nombre..." class="form-control"/>

        <button class="btn btn-primary form-control" >Enviar Datos</button>

    </form>

</body>
